##### Datasets Used:
1.[House Prices Dataset](https://www.kaggle.com/c/house-prices-advanced-regression-techniques/overview)

In [1]:
# Importing all required packages
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

### 1. Mode Imputation/Frequenct Category Imputation
Similar to Mean/Median Imputation, only difference is NaN values will be filled with Mode.

In [2]:
df=pd.read_csv("house_prices.csv", usecols=['BsmtQual','FireplaceQu','GarageType','SalePrice'])
df.head()

  BsmtQual FireplaceQu GarageType  SalePrice
0       Gd         NaN     Attchd     208500
1       Gd          TA     Attchd     181500
2       Gd          TA     Attchd     223500
3       TA          Gd     Detchd     140000
4       Gd          TA     Attchd     250000

In [3]:
# Checking number of missing values in each column
df.isnull().sum()

BsmtQual        37
FireplaceQu    690
GarageType      81
SalePrice        0
dtype: int64

In [4]:
# Sorting columns based on percentage of missing values
df.isnull().mean().sort_values(ascending=True)

SalePrice      0.000000
BsmtQual       0.025342
GarageType     0.055479
FireplaceQu    0.472603
dtype: float64

In [5]:
# Compute frequency of each category or label in a feature or variable
df['BsmtQual'].value_counts()

TA    649
Gd    618
Ex    121
Fa     35
Name: BsmtQual, dtype: int64

In [6]:
# Getting the most frequent label from feature "BsmtQual"
df['BsmtQual'].value_counts().index[0]

'TA'

In [7]:
# Another way of getting the most frequent label from feature "BsmtQual"
df['BsmtQual'].mode()[0]

'TA'

In [8]:
def impute_mode(df,variable):
    most_frequent_category=df[variable].mode()[0]
    df[variable].fillna(most_frequent_category,inplace=True)

In [9]:
for feature in ["BsmtQual","FireplaceQu","GarageType"]:
    impute_mode(df,feature)

In [10]:
df.isnull().mean()

BsmtQual       0.0
FireplaceQu    0.0
GarageType     0.0
SalePrice      0.0
dtype: float64

##### Disadvantages:
- If there are many NaN values, using the most frequent label may over represent it.
 - Eg: In the above example, "FireplaceQu" was having 47% of missing values. So label "Gd" will be over represented after imposing this method.
- It distorts the relation of the most frequent label and output.

### 2. Capturing NAN values with a New Feature
Create a new feature and capture missingness of the actual feature. In actual feature fill NaN values with Mode.

In [11]:
df=pd.read_csv('house_prices.csv', usecols=['BsmtQual','FireplaceQu','GarageType','SalePrice'])
df.head()

  BsmtQual FireplaceQu GarageType  SalePrice
0       Gd         NaN     Attchd     208500
1       Gd          TA     Attchd     181500
2       Gd          TA     Attchd     223500
3       TA          Gd     Detchd     140000
4       Gd          TA     Attchd     250000

In [12]:
# Where ever BsmtQual is null return 1, else 0
df['BsmtQual_Var']=np.where(df['BsmtQual'].isnull(),1,0)

In [13]:
df.head()

  BsmtQual FireplaceQu GarageType  SalePrice  BsmtQual_Var
0       Gd         NaN     Attchd     208500             0
1       Gd          TA     Attchd     181500             0
2       Gd          TA     Attchd     223500             0
3       TA          Gd     Detchd     140000             0
4       Gd          TA     Attchd     250000             0

In [14]:
frequent=df['BsmtQual'].mode()[0]
frequent

'TA'

In [15]:
# Filling NaN values in BsmtQual with its Mode
df['BsmtQual'].fillna(frequent,inplace=True)

In [16]:
df.head()

  BsmtQual FireplaceQu GarageType  SalePrice  BsmtQual_Var
0       Gd         NaN     Attchd     208500             0
1       Gd          TA     Attchd     181500             0
2       Gd          TA     Attchd     223500             0
3       TA          Gd     Detchd     140000             0
4       Gd          TA     Attchd     250000             0

In [17]:
df['FireplaceQu_Var']=np.where(df['FireplaceQu'].isnull(),1,0)
frequent=df['FireplaceQu'].mode()[0]
df['FireplaceQu'].fillna(frequent,inplace=True)

In [18]:
df['GarageType_Var']=np.where(df['GarageType'].isnull(),1,0)
frequent=df['GarageType'].mode()[0]
df['GarageType'].fillna(frequent,inplace=True)

In [19]:
df.head()

,BsmtQual,FireplaceQu,GarageType,SalePrice,BsmtQual_Var,FireplaceQu_Var,GarageType_Var
0,Gd,Gd,Attchd,208500,0,1,0
1,Gd,TA,Attchd,181500,0,0,0
2,Gd,TA,Attchd,223500,0,0,0
3,TA,Gd,Detchd,140000,0,0,0
4,Gd,TA,Attchd,250000,0,0,0

##### Disadvantages:
* If more categorical variables are having NaN values more features are added.

**IMPORTANT - Suppose in a feature, if there are more frequent categories, then replace NaN with a new category**

In [20]:
df=pd.read_csv('house_prices.csv', usecols=['BsmtQual','FireplaceQu','GarageType','SalePrice'])
df.head()

  BsmtQual FireplaceQu GarageType  SalePrice
0       Gd         NaN     Attchd     208500
1       Gd          TA     Attchd     181500
2       Gd          TA     Attchd     223500
3       TA          Gd     Detchd     140000
4       Gd          TA     Attchd     250000

In [21]:
def impute_NaN_cat(df,variable):
    # Where ever variable is null return Missing, else return actual value
    df[variable+"_NaN_cat"]=np.where(df[variable].isnull(),"Missing",df[variable])

In [22]:
for feature in ['BsmtQual','FireplaceQu','GarageType']:
    impute_NaN_cat(df,feature)

In [23]:
df.head()

,BsmtQual,FireplaceQu,GarageType,SalePrice,BsmtQual_NaN_cat,FireplaceQu_NaN_cat,GarageType_NaN_cat
0,Gd,NaN,Attchd,208500,Gd,Missing,Attchd
1,Gd,TA,Attchd,181500,Gd,TA,Attchd
2,Gd,TA,Attchd,223500,Gd,TA,Attchd
3,TA,Gd,Detchd,140000,TA,Gd,Detchd
4,Gd,TA,Attchd,250000,Gd,TA,Attchd

In [24]:
df=df.drop(['BsmtQual','FireplaceQu','GarageType'],axis=1)
df.head()

   SalePrice BsmtQual_NaN_cat FireplaceQu_NaN_cat GarageType_NaN_cat
0     208500               Gd             Missing             Attchd
1     181500               Gd                  TA             Attchd
2     223500               Gd                  TA             Attchd
3     140000               TA                  Gd             Detchd
4     250000               Gd                  TA             Attchd